body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1913px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u804_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1903px;
  height:301px;
}
#u804 {
  border-width:0px;
  position:absolute;
  left:10px;
  top:10px;
  width:1903px;
  height:301px;
}
#u804_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u805_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:477px;
  height:2700px;
}
#u805 {
  border-width:0px;
  position:absolute;
  left:10px;
  top:361px;
  width:477px;
  height:2700px;
}
#u805_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u806_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:690px;
  height:2700px;
}
#u806 {
  border-width:0px;
  position:absolute;
  left:1223px;
  top:361px;
  width:690px;
  height:2700px;
}
#u806_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u807_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:41px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:2px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u807 {
  border-width:0px;
  position:absolute;
  left:371px;
  top:370px;
  width:110px;
  height:41px;
  font-size:16px;
}
#u807_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:106px;
  word-wrap:break-word;
}
.u809_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:736px;
  height:132px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
.u809 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:736px;
  height:132px;
}
.u809_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
.u810_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:700px;
  height:126px;
}
.u810 {
  border-width:0px;
  position:absolute;
  left:18px;
  top:6px;
  width:700px;
  height:126px;
}
.u810_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
.u811_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:227px;
  height:29px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
.u811 {
  border-width:0px;
  position:absolute;
  left:189px;
  top:70px;
  width:227px;
  height:29px;
}
.u811_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
.u812_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(255, 0, 0, 1);
  border-radius:3px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#FF0000;
  text-align:center;
}
.u812 {
  border-width:0px;
  position:absolute;
  left:204px;
  top:75px;
  width:55px;
  height:20px;
  font-size:12px;
  color:#FF0000;
  text-align:center;
}
.u812_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:2px;
  width:55px;
  word-wrap:break-word;
}
.u813_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:202px;
  height:22px;
}
.u813 {
  border-width:0px;
  position:absolute;
  left:269px;
  top:74px;
  width:202px;
  height:22px;
}
.u813_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
.u814_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:490px;
  height:85px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
.u814 {
  border-width:0px;
  position:absolute;
  left:198px;
  top:26px;
  width:490px;
  height:85px;
}
.u814_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
.u815_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:517px;
  height:76px;
}
.u815 {
  border-width:0px;
  position:absolute;
  left:201px;
  top:26px;
  width:517px;
  height:76px;
}
.u815_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u808-1 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:736px;
  height:132px;
}
#u808-2 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:132px;
  width:736px;
  height:132px;
}
#u808-3 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:264px;
  width:736px;
  height:132px;
}
#u808-4 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:396px;
  width:736px;
  height:132px;
}
#u808-5 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:528px;
  width:736px;
  height:132px;
}
#u808-6 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:660px;
  width:736px;
  height:132px;
}
#u808-7 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:792px;
  width:736px;
  height:132px;
}
#u808-8 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:924px;
  width:736px;
  height:132px;
}
#u808-9 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:1056px;
  width:736px;
  height:132px;
}
#u808-10 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:1188px;
  width:736px;
  height:132px;
}
#u808-11 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:1320px;
  width:736px;
  height:132px;
}
#u808-12 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:1452px;
  width:736px;
  height:132px;
}
#u808-13 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:1584px;
  width:736px;
  height:132px;
}
#u808 {
  border-width:0px;
  position:absolute;
  left:484px;
  top:381px;
  width:736px;
  height:1716px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
}
#u816_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:172px;
  height:188px;
}
#u816 {
  border-width:0px;
  position:absolute;
  left:302px;
  top:511px;
  width:172px;
  height:188px;
}
#u816_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u817_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:41px;
  background:inherit;
  background-color:rgba(222, 51, 60, 1);
  border:none;
  border-radius:2px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#FFFFFF;
}
#u817 {
  border-width:0px;
  position:absolute;
  left:371px;
  top:640px;
  width:110px;
  height:41px;
  font-size:16px;
  color:#FFFFFF;
}
#u817_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:106px;
  word-wrap:break-word;
}
#u818_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:187px;
  height:461px;
}
#u818 {
  border-width:0px;
  position:absolute;
  left:1593px;
  top:818px;
  width:187px;
  height:461px;
}
#u818_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
