body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1913px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u793_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1903px;
  height:301px;
}
#u793 {
  border-width:0px;
  position:absolute;
  left:10px;
  top:10px;
  width:1903px;
  height:301px;
}
#u793_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u794_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:477px;
  height:2700px;
}
#u794 {
  border-width:0px;
  position:absolute;
  left:10px;
  top:361px;
  width:477px;
  height:2700px;
}
#u794_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u795_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:41px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:2px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u795 {
  border-width:0px;
  position:absolute;
  left:371px;
  top:370px;
  width:110px;
  height:41px;
  font-size:16px;
}
#u795_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:106px;
  word-wrap:break-word;
}
#u796_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:172px;
  height:188px;
}
#u796 {
  border-width:0px;
  position:absolute;
  left:302px;
  top:511px;
  width:172px;
  height:188px;
}
#u796_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u797_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:41px;
  background:inherit;
  background-color:rgba(222, 51, 60, 1);
  border:none;
  border-radius:2px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#FFFFFF;
}
#u797 {
  border-width:0px;
  position:absolute;
  left:371px;
  top:596px;
  width:110px;
  height:41px;
  font-size:16px;
  color:#FFFFFF;
}
#u797_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:106px;
  word-wrap:break-word;
}
#u798_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:702px;
  height:596px;
}
#u798 {
  border-width:0px;
  position:absolute;
  left:513px;
  top:379px;
  width:702px;
  height:596px;
}
#u798_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u799_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:362px;
  height:596px;
}
#u799 {
  border-width:0px;
  position:absolute;
  left:1215px;
  top:379px;
  width:362px;
  height:596px;
}
#u799_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u800_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:702px;
  height:596px;
}
#u800 {
  border-width:0px;
  position:absolute;
  left:511px;
  top:958px;
  width:702px;
  height:596px;
}
#u800_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u801_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:362px;
  height:596px;
}
#u801 {
  border-width:0px;
  position:absolute;
  left:1213px;
  top:958px;
  width:362px;
  height:596px;
}
#u801_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u802_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:332px;
  height:42px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#666666;
}
#u802 {
  border-width:0px;
  position:absolute;
  left:851px;
  top:1564px;
  width:332px;
  height:42px;
  color:#666666;
}
#u802_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:11px;
  width:328px;
  word-wrap:break-word;
}
#u803_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:187px;
  height:461px;
}
#u803 {
  border-width:0px;
  position:absolute;
  left:1626px;
  top:758px;
  width:187px;
  height:461px;
}
#u803_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
