body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1387px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u694_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1288px;
  height:559px;
}
#u694 {
  border-width:0px;
  position:absolute;
  left:99px;
  top:64px;
  width:1288px;
  height:559px;
}
#u694_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
