body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1930px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u445_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1920px;
  height:3885px;
}
#u445 {
  border-width:0px;
  position:absolute;
  left:10px;
  top:10px;
  width:1920px;
  height:3885px;
}
#u445_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u446_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:239px;
  height:47px;
  background:inherit;
  background-color:rgba(239, 90, 161, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
}
#u446 {
  border-width:0px;
  position:absolute;
  left:739px;
  top:498px;
  width:239px;
  height:47px;
}
#u446_text {
  border-width:0px;
  position:absolute;
  left:10px;
  top:10px;
  width:219px;
  word-wrap:break-word;
}
