body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1955px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u415_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1903px;
  height:297px;
}
#u415 {
  border-width:0px;
  position:absolute;
  left:10px;
  top:10px;
  width:1903px;
  height:297px;
}
#u415_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u416_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1903px;
  height:2704px;
}
#u416 {
  border-width:0px;
  position:absolute;
  left:10px;
  top:307px;
  width:1903px;
  height:2704px;
}
#u416_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u417_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:228px;
  height:39px;
  background:inherit;
  background-color:rgba(255, 223, 37, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:0px 5px 5px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow:0px 5px 5px rgba(0, 0, 0, 0.2);
  box-shadow:0px 5px 5px rgba(0, 0, 0, 0.2);
}
#u417 {
  border-width:0px;
  position:absolute;
  left:760px;
  top:325px;
  width:228px;
  height:39px;
}
#u417_text {
  border-width:0px;
  position:absolute;
  left:10px;
  top:10px;
  width:208px;
  word-wrap:break-word;
}
#u418_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:228px;
  height:50px;
  background:inherit;
  background-color:rgba(255, 223, 37, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:0px 5px 5px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow:0px 5px 5px rgba(0, 0, 0, 0.2);
  box-shadow:0px 5px 5px rgba(0, 0, 0, 0.2);
}
#u418 {
  border-width:0px;
  position:absolute;
  left:1138px;
  top:364px;
  width:228px;
  height:50px;
}
#u418_text {
  border-width:0px;
  position:absolute;
  left:10px;
  top:10px;
  width:208px;
  word-wrap:break-word;
}
#u419_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:228px;
  height:50px;
  background:inherit;
  background-color:rgba(255, 223, 37, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:0px 5px 5px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow:0px 5px 5px rgba(0, 0, 0, 0.2);
  box-shadow:0px 5px 5px rgba(0, 0, 0, 0.2);
}
#u419 {
  border-width:0px;
  position:absolute;
  left:1138px;
  top:437px;
  width:228px;
  height:50px;
}
#u419_text {
  border-width:0px;
  position:absolute;
  left:10px;
  top:10px;
  width:208px;
  word-wrap:break-word;
}
#u420_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:228px;
  height:94px;
  background:inherit;
  background-color:rgba(255, 223, 37, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:0px 5px 5px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow:0px 5px 5px rgba(0, 0, 0, 0.2);
  box-shadow:0px 5px 5px rgba(0, 0, 0, 0.2);
}
#u420 {
  border-width:0px;
  position:absolute;
  left:1138px;
  top:537px;
  width:228px;
  height:94px;
}
#u420_text {
  border-width:0px;
  position:absolute;
  left:10px;
  top:10px;
  width:208px;
  word-wrap:break-word;
}
#u421_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:231px;
  height:76px;
  background:inherit;
  background-color:rgba(255, 223, 37, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:0px 5px 5px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow:0px 5px 5px rgba(0, 0, 0, 0.2);
  box-shadow:0px 5px 5px rgba(0, 0, 0, 0.2);
}
#u421 {
  border-width:0px;
  position:absolute;
  left:239px;
  top:666px;
  width:231px;
  height:76px;
}
#u421_text {
  border-width:0px;
  position:absolute;
  left:10px;
  top:10px;
  width:211px;
  word-wrap:break-word;
}
#u422_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:231px;
  height:76px;
  background:inherit;
  background-color:rgba(255, 223, 37, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:0px 5px 5px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow:0px 5px 5px rgba(0, 0, 0, 0.2);
  box-shadow:0px 5px 5px rgba(0, 0, 0, 0.2);
}
#u422 {
  border-width:0px;
  position:absolute;
  left:912px;
  top:885px;
  width:231px;
  height:76px;
}
#u422_text {
  border-width:0px;
  position:absolute;
  left:10px;
  top:10px;
  width:211px;
  word-wrap:break-word;
}
#u423_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:231px;
  height:115px;
  background:inherit;
  background-color:rgba(255, 223, 37, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:0px 5px 5px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow:0px 5px 5px rgba(0, 0, 0, 0.2);
  box-shadow:0px 5px 5px rgba(0, 0, 0, 0.2);
}
#u423 {
  border-width:0px;
  position:absolute;
  left:1012px;
  top:1294px;
  width:231px;
  height:115px;
}
#u423_text {
  border-width:0px;
  position:absolute;
  left:10px;
  top:10px;
  width:211px;
  word-wrap:break-word;
}
#u424_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:231px;
  height:76px;
  background:inherit;
  background-color:rgba(255, 223, 37, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:0px 5px 5px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow:0px 5px 5px rgba(0, 0, 0, 0.2);
  box-shadow:0px 5px 5px rgba(0, 0, 0, 0.2);
}
#u424 {
  border-width:0px;
  position:absolute;
  left:239px;
  top:877px;
  width:231px;
  height:76px;
}
#u424_text {
  border-width:0px;
  position:absolute;
  left:10px;
  top:10px;
  width:211px;
  word-wrap:break-word;
}
#u425_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:231px;
  height:140px;
  background:inherit;
  background-color:rgba(255, 223, 37, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:0px 5px 5px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow:0px 5px 5px rgba(0, 0, 0, 0.2);
  box-shadow:0px 5px 5px rgba(0, 0, 0, 0.2);
}
#u425 {
  border-width:0px;
  position:absolute;
  left:1709px;
  top:947px;
  width:231px;
  height:140px;
}
#u425_text {
  border-width:0px;
  position:absolute;
  left:10px;
  top:10px;
  width:211px;
  word-wrap:break-word;
}
#u426_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:231px;
  height:114px;
  background:inherit;
  background-color:rgba(255, 223, 37, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:0px 5px 5px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow:0px 5px 5px rgba(0, 0, 0, 0.2);
  box-shadow:0px 5px 5px rgba(0, 0, 0, 0.2);
}
#u426 {
  border-width:0px;
  position:absolute;
  left:1715px;
  top:1171px;
  width:231px;
  height:114px;
}
#u426_text {
  border-width:0px;
  position:absolute;
  left:10px;
  top:10px;
  width:211px;
  word-wrap:break-word;
}
#u427_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:231px;
  height:114px;
  background:inherit;
  background-color:rgba(255, 223, 37, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:0px 5px 5px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow:0px 5px 5px rgba(0, 0, 0, 0.2);
  box-shadow:0px 5px 5px rgba(0, 0, 0, 0.2);
}
#u427 {
  border-width:0px;
  position:absolute;
  left:1724px;
  top:1948px;
  width:231px;
  height:114px;
}
#u427_text {
  border-width:0px;
  position:absolute;
  left:10px;
  top:10px;
  width:211px;
  word-wrap:break-word;
}
#u428_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:231px;
  height:114px;
  background:inherit;
  background-color:rgba(255, 223, 37, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:0px 5px 5px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow:0px 5px 5px rgba(0, 0, 0, 0.2);
  box-shadow:0px 5px 5px rgba(0, 0, 0, 0.2);
}
#u428 {
  border-width:0px;
  position:absolute;
  left:1724px;
  top:2469px;
  width:231px;
  height:114px;
}
#u428_text {
  border-width:0px;
  position:absolute;
  left:10px;
  top:10px;
  width:211px;
  word-wrap:break-word;
}
