body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:2409px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u415_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1903px;
  height:3001px;
}
#u415 {
  border-width:0px;
  position:absolute;
  left:10px;
  top:10px;
  width:1903px;
  height:3001px;
}
#u415_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u416_img {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:-4px;
  width:40px;
  height:40px;
}
#u416 {
  border-width:0px;
  position:absolute;
  left:750px;
  top:367px;
  width:30px;
  height:30px;
}
#u416_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:26px;
  word-wrap:break-word;
}
#u417_img {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:-4px;
  width:40px;
  height:40px;
}
#u417 {
  border-width:0px;
  position:absolute;
  left:790px;
  top:481px;
  width:30px;
  height:30px;
}
#u417_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:26px;
  word-wrap:break-word;
}
#u418_img {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:-4px;
  width:40px;
  height:40px;
}
#u418 {
  border-width:0px;
  position:absolute;
  left:683px;
  top:638px;
  width:30px;
  height:30px;
}
#u418_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:26px;
  word-wrap:break-word;
}
#u419_img {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:-4px;
  width:40px;
  height:40px;
}
#u419 {
  border-width:0px;
  position:absolute;
  left:1815px;
  top:367px;
  width:30px;
  height:30px;
}
#u419_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:26px;
  word-wrap:break-word;
}
#u420_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:353px;
  height:100px;
  background:inherit;
  background-color:rgba(255, 223, 37, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  text-align:left;
}
#u420 {
  border-width:0px;
  position:absolute;
  left:1889px;
  top:419px;
  width:353px;
  height:100px;
  text-align:left;
}
#u420_text {
  border-width:0px;
  position:absolute;
  left:10px;
  top:10px;
  width:333px;
  word-wrap:break-word;
}
#u421_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:41px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
}
#u421 {
  border-width:0px;
  position:absolute;
  left:1889px;
  top:362px;
  width:97px;
  height:41px;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
}
#u421_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  white-space:nowrap;
}
#u422_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:23px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u422 {
  border-width:0px;
  position:absolute;
  left:1996px;
  top:381px;
  width:23px;
  height:20px;
}
#u422_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:23px;
  white-space:nowrap;
}
#u423_img {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:-4px;
  width:40px;
  height:40px;
}
#u423 {
  border-width:0px;
  position:absolute;
  left:1815px;
  top:544px;
  width:30px;
  height:30px;
}
#u423_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:26px;
  word-wrap:break-word;
}
#u424_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:353px;
  height:91px;
  background:inherit;
  background-color:rgba(255, 223, 37, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  text-align:left;
}
#u424 {
  border-width:0px;
  position:absolute;
  left:1889px;
  top:596px;
  width:353px;
  height:91px;
  text-align:left;
}
#u424_text {
  border-width:0px;
  position:absolute;
  left:10px;
  top:10px;
  width:333px;
  word-wrap:break-word;
}
#u425_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:41px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
}
#u425 {
  border-width:0px;
  position:absolute;
  left:1889px;
  top:539px;
  width:97px;
  height:41px;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
}
#u425_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  white-space:nowrap;
}
#u426_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:23px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u426 {
  border-width:0px;
  position:absolute;
  left:1996px;
  top:558px;
  width:23px;
  height:20px;
}
#u426_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:23px;
  white-space:nowrap;
}
#u427_img {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:-4px;
  width:40px;
  height:40px;
}
#u427 {
  border-width:0px;
  position:absolute;
  left:1815px;
  top:724px;
  width:30px;
  height:30px;
}
#u427_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:26px;
  word-wrap:break-word;
}
#u428_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:353px;
  height:103px;
  background:inherit;
  background-color:rgba(255, 223, 37, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  text-align:left;
}
#u428 {
  border-width:0px;
  position:absolute;
  left:1889px;
  top:781px;
  width:353px;
  height:103px;
  text-align:left;
}
#u428_text {
  border-width:0px;
  position:absolute;
  left:10px;
  top:10px;
  width:333px;
  word-wrap:break-word;
}
#u429_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  height:41px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
}
#u429 {
  border-width:0px;
  position:absolute;
  left:1873px;
  top:724px;
  width:129px;
  height:41px;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
}
#u429_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  white-space:nowrap;
}
#u430_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:23px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u430 {
  border-width:0px;
  position:absolute;
  left:2017px;
  top:743px;
  width:23px;
  height:16px;
}
#u430_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:23px;
  white-space:nowrap;
}
#u431 {
  border-width:0px;
  position:absolute;
  left:780px;
  top:382px;
  width:0px;
  height:0px;
}
#u431_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-4px;
  width:1039px;
  height:8px;
}
#u431_seg1 {
  border-width:0px;
  position:absolute;
  left:1022px;
  top:-10px;
  width:20px;
  height:20px;
}
#u431_text {
  border-width:0px;
  position:absolute;
  left:468px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u432 {
  border-width:0px;
  position:absolute;
  left:820px;
  top:496px;
  width:0px;
  height:0px;
}
#u432_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-4px;
  width:393px;
  height:8px;
}
#u432_seg1 {
  border-width:0px;
  position:absolute;
  left:385px;
  top:-4px;
  width:8px;
  height:71px;
}
#u432_seg2 {
  border-width:0px;
  position:absolute;
  left:385px;
  top:59px;
  width:610px;
  height:8px;
}
#u432_seg3 {
  border-width:0px;
  position:absolute;
  left:982px;
  top:53px;
  width:20px;
  height:20px;
}
#u432_text {
  border-width:0px;
  position:absolute;
  left:416px;
  top:55px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u433 {
  border-width:0px;
  position:absolute;
  left:713px;
  top:653px;
  width:0px;
  height:0px;
}
#u433_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-4px;
  width:516px;
  height:8px;
}
#u433_seg1 {
  border-width:0px;
  position:absolute;
  left:508px;
  top:-4px;
  width:8px;
  height:94px;
}
#u433_seg2 {
  border-width:0px;
  position:absolute;
  left:508px;
  top:82px;
  width:594px;
  height:8px;
}
#u433_seg3 {
  border-width:0px;
  position:absolute;
  left:1089px;
  top:76px;
  width:20px;
  height:20px;
}
#u433_text {
  border-width:0px;
  position:absolute;
  left:462px;
  top:74px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u434_img {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:-4px;
  width:40px;
  height:40px;
}
#u434 {
  border-width:0px;
  position:absolute;
  left:1379px;
  top:905px;
  width:30px;
  height:30px;
}
#u434_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:26px;
  word-wrap:break-word;
}
#u435_img {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:-4px;
  width:40px;
  height:40px;
}
#u435 {
  border-width:0px;
  position:absolute;
  left:1831px;
  top:905px;
  width:30px;
  height:30px;
}
#u435_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:26px;
  word-wrap:break-word;
}
#u436_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  height:41px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
}
#u436 {
  border-width:0px;
  position:absolute;
  left:1873px;
  top:894px;
  width:129px;
  height:41px;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
}
#u436_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  white-space:nowrap;
}
#u437_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:353px;
  height:77px;
  background:inherit;
  background-color:rgba(255, 223, 37, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  text-align:left;
}
#u437 {
  border-width:0px;
  position:absolute;
  left:1881px;
  top:952px;
  width:353px;
  height:77px;
  text-align:left;
}
#u437_text {
  border-width:0px;
  position:absolute;
  left:10px;
  top:10px;
  width:333px;
  word-wrap:break-word;
}
#u438_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:23px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u438 {
  border-width:0px;
  position:absolute;
  left:2009px;
  top:914px;
  width:23px;
  height:16px;
}
#u438_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:23px;
  white-space:nowrap;
}
#u439_img {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:-4px;
  width:40px;
  height:40px;
}
#u439 {
  border-width:0px;
  position:absolute;
  left:1369px;
  top:1148px;
  width:30px;
  height:30px;
}
#u439_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:26px;
  word-wrap:break-word;
}
#u440_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  height:41px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
}
#u440 {
  border-width:0px;
  position:absolute;
  left:1887px;
  top:1148px;
  width:129px;
  height:41px;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
}
#u440_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  white-space:nowrap;
}
#u441_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:353px;
  height:49px;
  background:inherit;
  background-color:rgba(255, 223, 37, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  text-align:left;
}
#u441 {
  border-width:0px;
  position:absolute;
  left:1893px;
  top:1206px;
  width:353px;
  height:49px;
  text-align:left;
}
#u441_text {
  border-width:0px;
  position:absolute;
  left:10px;
  top:10px;
  width:333px;
  word-wrap:break-word;
}
#u442_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u442 {
  border-width:0px;
  position:absolute;
  left:2021px;
  top:1168px;
  width:57px;
  height:16px;
}
#u442_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u443_img {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:-4px;
  width:40px;
  height:40px;
}
#u443 {
  border-width:0px;
  position:absolute;
  left:1837px;
  top:1148px;
  width:30px;
  height:30px;
}
#u443_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:26px;
  word-wrap:break-word;
}
#u444_img {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:-4px;
  width:40px;
  height:40px;
}
#u444 {
  border-width:0px;
  position:absolute;
  left:1369px;
  top:1404px;
  width:30px;
  height:30px;
}
#u444_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:26px;
  word-wrap:break-word;
}
#u445_img {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:-4px;
  width:40px;
  height:40px;
}
#u445 {
  border-width:0px;
  position:absolute;
  left:1837px;
  top:1404px;
  width:30px;
  height:30px;
}
#u445_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:26px;
  word-wrap:break-word;
}
#u446_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  height:41px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
}
#u446 {
  border-width:0px;
  position:absolute;
  left:1889px;
  top:1399px;
  width:129px;
  height:41px;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
}
#u446_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  white-space:nowrap;
}
#u447_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u447 {
  border-width:0px;
  position:absolute;
  left:2028px;
  top:1418px;
  width:57px;
  height:16px;
}
#u447_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u448_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:353px;
  height:80px;
  background:inherit;
  background-color:rgba(255, 223, 37, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  text-align:left;
}
#u448 {
  border-width:0px;
  position:absolute;
  left:1889px;
  top:1458px;
  width:353px;
  height:80px;
  text-align:left;
}
#u448_text {
  border-width:0px;
  position:absolute;
  left:10px;
  top:10px;
  width:333px;
  word-wrap:break-word;
}
#u449 {
  border-width:0px;
  position:absolute;
  left:1399px;
  top:1419px;
  width:0px;
  height:0px;
}
#u449_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-4px;
  width:442px;
  height:8px;
}
#u449_seg1 {
  border-width:0px;
  position:absolute;
  left:425px;
  top:-10px;
  width:20px;
  height:20px;
}
#u449_text {
  border-width:0px;
  position:absolute;
  left:169px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u450 {
  border-width:0px;
  position:absolute;
  left:1399px;
  top:1163px;
  width:0px;
  height:0px;
}
#u450_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-4px;
  width:442px;
  height:8px;
}
#u450_seg1 {
  border-width:0px;
  position:absolute;
  left:425px;
  top:-10px;
  width:20px;
  height:20px;
}
#u450_text {
  border-width:0px;
  position:absolute;
  left:169px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u451 {
  border-width:0px;
  position:absolute;
  left:1409px;
  top:920px;
  width:0px;
  height:0px;
}
#u451_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-4px;
  width:426px;
  height:8px;
}
#u451_seg1 {
  border-width:0px;
  position:absolute;
  left:409px;
  top:-10px;
  width:20px;
  height:20px;
}
#u451_text {
  border-width:0px;
  position:absolute;
  left:161px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u452_img {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:-4px;
  width:40px;
  height:40px;
}
#u452 {
  border-width:0px;
  position:absolute;
  left:1831px;
  top:2005px;
  width:30px;
  height:30px;
}
#u452_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:26px;
  word-wrap:break-word;
}
#u453_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  height:41px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
}
#u453 {
  border-width:0px;
  position:absolute;
  left:1883px;
  top:1999px;
  width:129px;
  height:41px;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
}
#u453_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  white-space:nowrap;
}
#u454_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u454 {
  border-width:0px;
  position:absolute;
  left:2022px;
  top:2018px;
  width:57px;
  height:16px;
}
#u454_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u455_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:353px;
  height:49px;
  background:inherit;
  background-color:rgba(255, 223, 37, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  text-align:left;
}
#u455 {
  border-width:0px;
  position:absolute;
  left:1883px;
  top:2058px;
  width:353px;
  height:49px;
  text-align:left;
}
#u455_text {
  border-width:0px;
  position:absolute;
  left:10px;
  top:10px;
  width:333px;
  word-wrap:break-word;
}
#u456_img {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:-4px;
  width:40px;
  height:40px;
}
#u456 {
  border-width:0px;
  position:absolute;
  left:1335px;
  top:2005px;
  width:30px;
  height:30px;
}
#u456_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:26px;
  word-wrap:break-word;
}
#u457 {
  border-width:0px;
  position:absolute;
  left:1399px;
  top:1419px;
  width:0px;
  height:0px;
}
#u457_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-4px;
  width:438px;
  height:8px;
}
#u457_seg1 {
  border-width:0px;
  position:absolute;
  left:430px;
  top:-4px;
  width:8px;
  height:5px;
}
#u457_seg2 {
  border-width:0px;
  position:absolute;
  left:424px;
  top:-12px;
  width:20px;
  height:20px;
}
#u457_text {
  border-width:0px;
  position:absolute;
  left:168px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u458 {
  border-width:0px;
  position:absolute;
  left:1365px;
  top:2020px;
  width:0px;
  height:0px;
}
#u458_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-4px;
  width:470px;
  height:8px;
}
#u458_seg1 {
  border-width:0px;
  position:absolute;
  left:453px;
  top:-10px;
  width:20px;
  height:20px;
}
#u458_text {
  border-width:0px;
  position:absolute;
  left:183px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u459_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:456px;
}
#u459 {
  border-width:0px;
  position:absolute;
  left:2336px;
  top:408px;
  width:73px;
  height:456px;
}
#u459_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
