body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:2409px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u307_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1903px;
  height:3001px;
}
#u307 {
  border-width:0px;
  position:absolute;
  left:10px;
  top:10px;
  width:1903px;
  height:3001px;
}
#u307_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u308_img {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:-4px;
  width:40px;
  height:40px;
}
#u308 {
  border-width:0px;
  position:absolute;
  left:750px;
  top:367px;
  width:30px;
  height:30px;
}
#u308_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:26px;
  word-wrap:break-word;
}
#u309_img {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:-4px;
  width:40px;
  height:40px;
}
#u309 {
  border-width:0px;
  position:absolute;
  left:790px;
  top:481px;
  width:30px;
  height:30px;
}
#u309_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:26px;
  word-wrap:break-word;
}
#u310_img {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:-4px;
  width:40px;
  height:40px;
}
#u310 {
  border-width:0px;
  position:absolute;
  left:683px;
  top:638px;
  width:30px;
  height:30px;
}
#u310_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:26px;
  word-wrap:break-word;
}
#u311_img {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:-4px;
  width:40px;
  height:40px;
}
#u311 {
  border-width:0px;
  position:absolute;
  left:1815px;
  top:367px;
  width:30px;
  height:30px;
}
#u311_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:26px;
  word-wrap:break-word;
}
#u312_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:353px;
  height:100px;
  background:inherit;
  background-color:rgba(255, 223, 37, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  text-align:left;
}
#u312 {
  border-width:0px;
  position:absolute;
  left:1889px;
  top:419px;
  width:353px;
  height:100px;
  text-align:left;
}
#u312_text {
  border-width:0px;
  position:absolute;
  left:10px;
  top:10px;
  width:333px;
  word-wrap:break-word;
}
#u313_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:41px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
}
#u313 {
  border-width:0px;
  position:absolute;
  left:1889px;
  top:362px;
  width:97px;
  height:41px;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
}
#u313_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  white-space:nowrap;
}
#u314_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:23px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u314 {
  border-width:0px;
  position:absolute;
  left:1996px;
  top:381px;
  width:23px;
  height:20px;
}
#u314_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:23px;
  white-space:nowrap;
}
#u315_img {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:-4px;
  width:40px;
  height:40px;
}
#u315 {
  border-width:0px;
  position:absolute;
  left:1815px;
  top:544px;
  width:30px;
  height:30px;
}
#u315_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:26px;
  word-wrap:break-word;
}
#u316_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:353px;
  height:91px;
  background:inherit;
  background-color:rgba(255, 223, 37, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  text-align:left;
}
#u316 {
  border-width:0px;
  position:absolute;
  left:1889px;
  top:596px;
  width:353px;
  height:91px;
  text-align:left;
}
#u316_text {
  border-width:0px;
  position:absolute;
  left:10px;
  top:10px;
  width:333px;
  word-wrap:break-word;
}
#u317_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:41px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
}
#u317 {
  border-width:0px;
  position:absolute;
  left:1889px;
  top:539px;
  width:97px;
  height:41px;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
}
#u317_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  white-space:nowrap;
}
#u318_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:23px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u318 {
  border-width:0px;
  position:absolute;
  left:1996px;
  top:558px;
  width:23px;
  height:20px;
}
#u318_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:23px;
  white-space:nowrap;
}
#u319_img {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:-4px;
  width:40px;
  height:40px;
}
#u319 {
  border-width:0px;
  position:absolute;
  left:1815px;
  top:724px;
  width:30px;
  height:30px;
}
#u319_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:26px;
  word-wrap:break-word;
}
#u320_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:353px;
  height:103px;
  background:inherit;
  background-color:rgba(255, 223, 37, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  text-align:left;
}
#u320 {
  border-width:0px;
  position:absolute;
  left:1889px;
  top:781px;
  width:353px;
  height:103px;
  text-align:left;
}
#u320_text {
  border-width:0px;
  position:absolute;
  left:10px;
  top:10px;
  width:333px;
  word-wrap:break-word;
}
#u321_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  height:41px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
}
#u321 {
  border-width:0px;
  position:absolute;
  left:1873px;
  top:724px;
  width:129px;
  height:41px;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
}
#u321_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  white-space:nowrap;
}
#u322_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:23px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u322 {
  border-width:0px;
  position:absolute;
  left:2017px;
  top:743px;
  width:23px;
  height:16px;
}
#u322_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:23px;
  white-space:nowrap;
}
#u323 {
  border-width:0px;
  position:absolute;
  left:780px;
  top:382px;
  width:0px;
  height:0px;
}
#u323_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-4px;
  width:1039px;
  height:8px;
}
#u323_seg1 {
  border-width:0px;
  position:absolute;
  left:1022px;
  top:-10px;
  width:20px;
  height:20px;
}
#u323_text {
  border-width:0px;
  position:absolute;
  left:468px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u324 {
  border-width:0px;
  position:absolute;
  left:820px;
  top:496px;
  width:0px;
  height:0px;
}
#u324_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-4px;
  width:393px;
  height:8px;
}
#u324_seg1 {
  border-width:0px;
  position:absolute;
  left:385px;
  top:-4px;
  width:8px;
  height:71px;
}
#u324_seg2 {
  border-width:0px;
  position:absolute;
  left:385px;
  top:59px;
  width:610px;
  height:8px;
}
#u324_seg3 {
  border-width:0px;
  position:absolute;
  left:982px;
  top:53px;
  width:20px;
  height:20px;
}
#u324_text {
  border-width:0px;
  position:absolute;
  left:416px;
  top:55px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u325 {
  border-width:0px;
  position:absolute;
  left:713px;
  top:653px;
  width:0px;
  height:0px;
}
#u325_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-4px;
  width:516px;
  height:8px;
}
#u325_seg1 {
  border-width:0px;
  position:absolute;
  left:508px;
  top:-4px;
  width:8px;
  height:94px;
}
#u325_seg2 {
  border-width:0px;
  position:absolute;
  left:508px;
  top:82px;
  width:594px;
  height:8px;
}
#u325_seg3 {
  border-width:0px;
  position:absolute;
  left:1089px;
  top:76px;
  width:20px;
  height:20px;
}
#u325_text {
  border-width:0px;
  position:absolute;
  left:462px;
  top:74px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u326_img {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:-4px;
  width:40px;
  height:40px;
}
#u326 {
  border-width:0px;
  position:absolute;
  left:1379px;
  top:905px;
  width:30px;
  height:30px;
}
#u326_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:26px;
  word-wrap:break-word;
}
#u327_img {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:-4px;
  width:40px;
  height:40px;
}
#u327 {
  border-width:0px;
  position:absolute;
  left:1831px;
  top:905px;
  width:30px;
  height:30px;
}
#u327_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:26px;
  word-wrap:break-word;
}
#u328_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  height:41px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
}
#u328 {
  border-width:0px;
  position:absolute;
  left:1873px;
  top:894px;
  width:129px;
  height:41px;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
}
#u328_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  white-space:nowrap;
}
#u329_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:353px;
  height:77px;
  background:inherit;
  background-color:rgba(255, 223, 37, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  text-align:left;
}
#u329 {
  border-width:0px;
  position:absolute;
  left:1881px;
  top:952px;
  width:353px;
  height:77px;
  text-align:left;
}
#u329_text {
  border-width:0px;
  position:absolute;
  left:10px;
  top:10px;
  width:333px;
  word-wrap:break-word;
}
#u330_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:23px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u330 {
  border-width:0px;
  position:absolute;
  left:2009px;
  top:914px;
  width:23px;
  height:16px;
}
#u330_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:23px;
  white-space:nowrap;
}
#u331_img {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:-4px;
  width:40px;
  height:40px;
}
#u331 {
  border-width:0px;
  position:absolute;
  left:1369px;
  top:1148px;
  width:30px;
  height:30px;
}
#u331_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:26px;
  word-wrap:break-word;
}
#u332_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  height:41px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
}
#u332 {
  border-width:0px;
  position:absolute;
  left:1887px;
  top:1148px;
  width:129px;
  height:41px;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
}
#u332_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  white-space:nowrap;
}
#u333_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:353px;
  height:49px;
  background:inherit;
  background-color:rgba(255, 223, 37, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  text-align:left;
}
#u333 {
  border-width:0px;
  position:absolute;
  left:1893px;
  top:1206px;
  width:353px;
  height:49px;
  text-align:left;
}
#u333_text {
  border-width:0px;
  position:absolute;
  left:10px;
  top:10px;
  width:333px;
  word-wrap:break-word;
}
#u334_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u334 {
  border-width:0px;
  position:absolute;
  left:2021px;
  top:1168px;
  width:57px;
  height:16px;
}
#u334_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u335_img {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:-4px;
  width:40px;
  height:40px;
}
#u335 {
  border-width:0px;
  position:absolute;
  left:1837px;
  top:1148px;
  width:30px;
  height:30px;
}
#u335_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:26px;
  word-wrap:break-word;
}
#u336_img {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:-4px;
  width:40px;
  height:40px;
}
#u336 {
  border-width:0px;
  position:absolute;
  left:1369px;
  top:1404px;
  width:30px;
  height:30px;
}
#u336_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:26px;
  word-wrap:break-word;
}
#u337_img {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:-4px;
  width:40px;
  height:40px;
}
#u337 {
  border-width:0px;
  position:absolute;
  left:1837px;
  top:1404px;
  width:30px;
  height:30px;
}
#u337_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:26px;
  word-wrap:break-word;
}
#u338_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  height:41px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
}
#u338 {
  border-width:0px;
  position:absolute;
  left:1889px;
  top:1399px;
  width:129px;
  height:41px;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
}
#u338_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  white-space:nowrap;
}
#u339_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u339 {
  border-width:0px;
  position:absolute;
  left:2028px;
  top:1418px;
  width:57px;
  height:16px;
}
#u339_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u340_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:353px;
  height:80px;
  background:inherit;
  background-color:rgba(255, 223, 37, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  text-align:left;
}
#u340 {
  border-width:0px;
  position:absolute;
  left:1889px;
  top:1458px;
  width:353px;
  height:80px;
  text-align:left;
}
#u340_text {
  border-width:0px;
  position:absolute;
  left:10px;
  top:10px;
  width:333px;
  word-wrap:break-word;
}
#u341 {
  border-width:0px;
  position:absolute;
  left:1399px;
  top:1419px;
  width:0px;
  height:0px;
}
#u341_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-4px;
  width:442px;
  height:8px;
}
#u341_seg1 {
  border-width:0px;
  position:absolute;
  left:425px;
  top:-10px;
  width:20px;
  height:20px;
}
#u341_text {
  border-width:0px;
  position:absolute;
  left:169px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u342 {
  border-width:0px;
  position:absolute;
  left:1399px;
  top:1163px;
  width:0px;
  height:0px;
}
#u342_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-4px;
  width:442px;
  height:8px;
}
#u342_seg1 {
  border-width:0px;
  position:absolute;
  left:425px;
  top:-10px;
  width:20px;
  height:20px;
}
#u342_text {
  border-width:0px;
  position:absolute;
  left:169px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u343 {
  border-width:0px;
  position:absolute;
  left:1409px;
  top:920px;
  width:0px;
  height:0px;
}
#u343_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-4px;
  width:426px;
  height:8px;
}
#u343_seg1 {
  border-width:0px;
  position:absolute;
  left:409px;
  top:-10px;
  width:20px;
  height:20px;
}
#u343_text {
  border-width:0px;
  position:absolute;
  left:161px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u344_img {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:-4px;
  width:40px;
  height:40px;
}
#u344 {
  border-width:0px;
  position:absolute;
  left:1831px;
  top:2005px;
  width:30px;
  height:30px;
}
#u344_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:26px;
  word-wrap:break-word;
}
#u345_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  height:41px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
}
#u345 {
  border-width:0px;
  position:absolute;
  left:1883px;
  top:1999px;
  width:129px;
  height:41px;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
}
#u345_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  white-space:nowrap;
}
#u346_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u346 {
  border-width:0px;
  position:absolute;
  left:2022px;
  top:2018px;
  width:57px;
  height:16px;
}
#u346_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u347_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:353px;
  height:49px;
  background:inherit;
  background-color:rgba(255, 223, 37, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  text-align:left;
}
#u347 {
  border-width:0px;
  position:absolute;
  left:1883px;
  top:2058px;
  width:353px;
  height:49px;
  text-align:left;
}
#u347_text {
  border-width:0px;
  position:absolute;
  left:10px;
  top:10px;
  width:333px;
  word-wrap:break-word;
}
#u348_img {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:-4px;
  width:40px;
  height:40px;
}
#u348 {
  border-width:0px;
  position:absolute;
  left:1335px;
  top:2005px;
  width:30px;
  height:30px;
}
#u348_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:26px;
  word-wrap:break-word;
}
#u349 {
  border-width:0px;
  position:absolute;
  left:1399px;
  top:1419px;
  width:0px;
  height:0px;
}
#u349_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-4px;
  width:438px;
  height:8px;
}
#u349_seg1 {
  border-width:0px;
  position:absolute;
  left:430px;
  top:-4px;
  width:8px;
  height:5px;
}
#u349_seg2 {
  border-width:0px;
  position:absolute;
  left:424px;
  top:-12px;
  width:20px;
  height:20px;
}
#u349_text {
  border-width:0px;
  position:absolute;
  left:168px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u350 {
  border-width:0px;
  position:absolute;
  left:1365px;
  top:2020px;
  width:0px;
  height:0px;
}
#u350_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-4px;
  width:470px;
  height:8px;
}
#u350_seg1 {
  border-width:0px;
  position:absolute;
  left:453px;
  top:-10px;
  width:20px;
  height:20px;
}
#u350_text {
  border-width:0px;
  position:absolute;
  left:183px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u351_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:456px;
}
#u351 {
  border-width:0px;
  position:absolute;
  left:2336px;
  top:408px;
  width:73px;
  height:456px;
}
#u351_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
