body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:2014px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u1045_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:420px;
  height:865px;
}
#u1045 {
  border-width:0px;
  position:absolute;
  left:188px;
  top:592px;
  width:420px;
  height:865px;
}
#u1045_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1046_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1787px;
  height:436px;
}
#u1046 {
  border-width:0px;
  position:absolute;
  left:227px;
  top:74px;
  width:1787px;
  height:436px;
}
#u1046_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
