body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1913px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u827_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1219px;
  height:649px;
}
#u827 {
  border-width:0px;
  position:absolute;
  left:66px;
  top:1107px;
  width:1219px;
  height:649px;
}
#u827_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u828_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1207px;
  height:1451px;
}
#u828 {
  border-width:0px;
  position:absolute;
  left:10px;
  top:10px;
  width:1207px;
  height:1451px;
}
#u828_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u829_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1207px;
  height:1550px;
}
#u829 {
  border-width:0px;
  position:absolute;
  left:10px;
  top:1461px;
  width:1207px;
  height:1550px;
}
#u829_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u830_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:696px;
  height:1451px;
}
#u830 {
  border-width:0px;
  position:absolute;
  left:1217px;
  top:10px;
  width:696px;
  height:1451px;
}
#u830_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u831_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:696px;
  height:1550px;
}
#u831 {
  border-width:0px;
  position:absolute;
  left:1217px;
  top:1461px;
  width:696px;
  height:1550px;
}
#u831_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
