body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:2003px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u829_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1903px;
  height:3310px;
}
#u829 {
  border-width:0px;
  position:absolute;
  left:100px;
  top:100px;
  width:1903px;
  height:3310px;
}
#u829_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u830_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1428px;
  height:853px;
}
#u830 {
  border-width:0px;
  position:absolute;
  left:93px;
  top:3850px;
  width:1428px;
  height:853px;
}
#u830_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u831_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:472px;
  height:68px;
}
#u831 {
  border-width:0px;
  position:absolute;
  left:114px;
  top:3508px;
  width:472px;
  height:68px;
}
#u831_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
