body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1350px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u530_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1180px;
  height:866px;
}
#u530 {
  border-width:0px;
  position:absolute;
  left:170px;
  top:55px;
  width:1180px;
  height:866px;
}
#u530_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u531_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:540px;
  height:45px;
}
#u531 {
  border-width:0px;
  position:absolute;
  left:225px;
  top:981px;
  width:540px;
  height:45px;
}
#u531_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
