body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1595px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u469_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1437px;
  height:685px;
}
#u469 {
  border-width:0px;
  position:absolute;
  left:56px;
  top:106px;
  width:1437px;
  height:685px;
}
#u469_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u470_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1431px;
  height:438px;
}
#u470 {
  border-width:0px;
  position:absolute;
  left:125px;
  top:847px;
  width:1431px;
  height:438px;
}
#u470_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u471_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1470px;
  height:853px;
}
#u471 {
  border-width:0px;
  position:absolute;
  left:125px;
  top:1332px;
  width:1470px;
  height:853px;
}
#u471_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
