body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:2197px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u341_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1903px;
  height:3001px;
}
#u341 {
  border-width:0px;
  position:absolute;
  left:49px;
  top:-10px;
  width:1903px;
  height:3001px;
}
#u341_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u342_img {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:-4px;
  width:40px;
  height:40px;
}
#u342 {
  border-width:0px;
  position:absolute;
  left:750px;
  top:367px;
  width:30px;
  height:30px;
}
#u342_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:26px;
  word-wrap:break-word;
}
#u343_img {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:-4px;
  width:40px;
  height:40px;
}
#u343 {
  border-width:0px;
  position:absolute;
  left:790px;
  top:481px;
  width:30px;
  height:30px;
}
#u343_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:26px;
  word-wrap:break-word;
}
#u344_img {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:-4px;
  width:40px;
  height:40px;
}
#u344 {
  border-width:0px;
  position:absolute;
  left:683px;
  top:638px;
  width:30px;
  height:30px;
}
#u344_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:26px;
  word-wrap:break-word;
}
#u345_img {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:-4px;
  width:40px;
  height:40px;
}
#u345 {
  border-width:0px;
  position:absolute;
  left:1815px;
  top:367px;
  width:30px;
  height:30px;
}
#u345_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:26px;
  word-wrap:break-word;
}
#u346_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:68px;
  height:35px;
  background:inherit;
  background-color:rgba(239, 90, 161, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  color:#FFFFFF;
  text-align:left;
}
#u346 {
  border-width:0px;
  position:absolute;
  left:1865px;
  top:406px;
  width:68px;
  height:35px;
  color:#FFFFFF;
  text-align:left;
}
#u346_text {
  border-width:0px;
  position:absolute;
  left:10px;
  top:8px;
  width:48px;
  word-wrap:break-word;
}
#u347_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:27px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:20px;
}
#u347 {
  border-width:0px;
  position:absolute;
  left:1865px;
  top:369px;
  width:61px;
  height:27px;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:20px;
}
#u347_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  white-space:nowrap;
}
#u348_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:23px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u348 {
  border-width:0px;
  position:absolute;
  left:1996px;
  top:381px;
  width:23px;
  height:20px;
}
#u348_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:23px;
  white-space:nowrap;
}
#u349_img {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:-4px;
  width:40px;
  height:40px;
}
#u349 {
  border-width:0px;
  position:absolute;
  left:1815px;
  top:544px;
  width:30px;
  height:30px;
}
#u349_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:26px;
  word-wrap:break-word;
}
#u350_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  height:35px;
  background:inherit;
  background-color:rgba(239, 90, 161, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  color:#FFFFFF;
  text-align:left;
}
#u350 {
  border-width:0px;
  position:absolute;
  left:1865px;
  top:584px;
  width:59px;
  height:35px;
  color:#FFFFFF;
  text-align:left;
}
#u350_text {
  border-width:0px;
  position:absolute;
  left:10px;
  top:10px;
  width:39px;
  word-wrap:break-word;
}
#u351_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:27px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:20px;
}
#u351 {
  border-width:0px;
  position:absolute;
  left:1865px;
  top:547px;
  width:61px;
  height:27px;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:20px;
}
#u351_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  white-space:nowrap;
}
#u352_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:23px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u352 {
  border-width:0px;
  position:absolute;
  left:1942px;
  top:551px;
  width:23px;
  height:20px;
}
#u352_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:23px;
  white-space:nowrap;
}
#u353_img {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:-4px;
  width:40px;
  height:40px;
}
#u353 {
  border-width:0px;
  position:absolute;
  left:1815px;
  top:724px;
  width:30px;
  height:30px;
}
#u353_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:26px;
  word-wrap:break-word;
}
#u354_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:76px;
  height:35px;
  background:inherit;
  background-color:rgba(239, 90, 161, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  color:#FFFFFF;
  text-align:left;
}
#u354 {
  border-width:0px;
  position:absolute;
  left:1875px;
  top:781px;
  width:76px;
  height:35px;
  color:#FFFFFF;
  text-align:left;
}
#u354_text {
  border-width:0px;
  position:absolute;
  left:10px;
  top:8px;
  width:56px;
  word-wrap:break-word;
}
#u355_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:27px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:20px;
}
#u355 {
  border-width:0px;
  position:absolute;
  left:1875px;
  top:731px;
  width:81px;
  height:27px;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:20px;
}
#u355_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  white-space:nowrap;
}
#u356_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:23px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u356 {
  border-width:0px;
  position:absolute;
  left:1966px;
  top:738px;
  width:23px;
  height:16px;
}
#u356_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:23px;
  white-space:nowrap;
}
#u357 {
  border-width:0px;
  position:absolute;
  left:780px;
  top:382px;
  width:0px;
  height:0px;
}
#u357_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-4px;
  width:1039px;
  height:8px;
}
#u357_seg1 {
  border-width:0px;
  position:absolute;
  left:1022px;
  top:-10px;
  width:20px;
  height:20px;
}
#u357_text {
  border-width:0px;
  position:absolute;
  left:468px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u358 {
  border-width:0px;
  position:absolute;
  left:820px;
  top:496px;
  width:0px;
  height:0px;
}
#u358_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-4px;
  width:393px;
  height:8px;
}
#u358_seg1 {
  border-width:0px;
  position:absolute;
  left:385px;
  top:-4px;
  width:8px;
  height:71px;
}
#u358_seg2 {
  border-width:0px;
  position:absolute;
  left:385px;
  top:59px;
  width:610px;
  height:8px;
}
#u358_seg3 {
  border-width:0px;
  position:absolute;
  left:982px;
  top:53px;
  width:20px;
  height:20px;
}
#u358_text {
  border-width:0px;
  position:absolute;
  left:416px;
  top:55px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u359 {
  border-width:0px;
  position:absolute;
  left:713px;
  top:653px;
  width:0px;
  height:0px;
}
#u359_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-4px;
  width:516px;
  height:8px;
}
#u359_seg1 {
  border-width:0px;
  position:absolute;
  left:508px;
  top:-4px;
  width:8px;
  height:94px;
}
#u359_seg2 {
  border-width:0px;
  position:absolute;
  left:508px;
  top:82px;
  width:594px;
  height:8px;
}
#u359_seg3 {
  border-width:0px;
  position:absolute;
  left:1089px;
  top:76px;
  width:20px;
  height:20px;
}
#u359_text {
  border-width:0px;
  position:absolute;
  left:462px;
  top:74px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u360_img {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:-4px;
  width:40px;
  height:40px;
}
#u360 {
  border-width:0px;
  position:absolute;
  left:1379px;
  top:905px;
  width:30px;
  height:30px;
}
#u360_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:26px;
  word-wrap:break-word;
}
#u361_img {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:-4px;
  width:40px;
  height:40px;
}
#u361 {
  border-width:0px;
  position:absolute;
  left:1831px;
  top:905px;
  width:30px;
  height:30px;
}
#u361_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:26px;
  word-wrap:break-word;
}
#u362_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:27px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:20px;
}
#u362 {
  border-width:0px;
  position:absolute;
  left:1887px;
  top:908px;
  width:81px;
  height:27px;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:20px;
}
#u362_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  white-space:nowrap;
}
#u363_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:108px;
  height:40px;
  background:inherit;
  background-color:rgba(239, 90, 161, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  color:#FFFFFF;
  text-align:left;
}
#u363 {
  border-width:0px;
  position:absolute;
  left:1881px;
  top:952px;
  width:108px;
  height:40px;
  color:#FFFFFF;
  text-align:left;
}
#u363_text {
  border-width:0px;
  position:absolute;
  left:10px;
  top:10px;
  width:88px;
  word-wrap:break-word;
}
#u364_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:23px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u364 {
  border-width:0px;
  position:absolute;
  left:1979px;
  top:914px;
  width:23px;
  height:16px;
}
#u364_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:23px;
  white-space:nowrap;
}
#u365_img {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:-4px;
  width:40px;
  height:40px;
}
#u365 {
  border-width:0px;
  position:absolute;
  left:1369px;
  top:1148px;
  width:30px;
  height:30px;
}
#u365_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:26px;
  word-wrap:break-word;
}
#u366_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:27px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:20px;
}
#u366 {
  border-width:0px;
  position:absolute;
  left:1893px;
  top:1151px;
  width:81px;
  height:27px;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:20px;
}
#u366_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  white-space:nowrap;
}
#u367_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:246px;
  height:49px;
  background:inherit;
  background-color:rgba(255, 223, 37, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  text-align:left;
}
#u367 {
  border-width:0px;
  position:absolute;
  left:1893px;
  top:1206px;
  width:246px;
  height:49px;
  text-align:left;
}
#u367_text {
  border-width:0px;
  position:absolute;
  left:10px;
  top:10px;
  width:226px;
  word-wrap:break-word;
}
#u368_img {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:-4px;
  width:40px;
  height:40px;
}
#u368 {
  border-width:0px;
  position:absolute;
  left:1837px;
  top:1148px;
  width:30px;
  height:30px;
}
#u368_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:26px;
  word-wrap:break-word;
}
#u369_img {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:-4px;
  width:40px;
  height:40px;
}
#u369 {
  border-width:0px;
  position:absolute;
  left:1369px;
  top:1404px;
  width:30px;
  height:30px;
}
#u369_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:26px;
  word-wrap:break-word;
}
#u370_img {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:-4px;
  width:40px;
  height:40px;
}
#u370 {
  border-width:0px;
  position:absolute;
  left:1837px;
  top:1404px;
  width:30px;
  height:30px;
}
#u370_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:26px;
  word-wrap:break-word;
}
#u371_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:27px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:20px;
}
#u371 {
  border-width:0px;
  position:absolute;
  left:1902px;
  top:1406px;
  width:81px;
  height:27px;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:20px;
}
#u371_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  white-space:nowrap;
}
#u372_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:308px;
  height:57px;
  background:inherit;
  background-color:rgba(255, 223, 37, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  text-align:left;
}
#u372 {
  border-width:0px;
  position:absolute;
  left:1889px;
  top:1458px;
  width:308px;
  height:57px;
  text-align:left;
}
#u372_text {
  border-width:0px;
  position:absolute;
  left:10px;
  top:10px;
  width:288px;
  word-wrap:break-word;
}
#u373_img {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:-4px;
  width:40px;
  height:40px;
}
#u373 {
  border-width:0px;
  position:absolute;
  left:1831px;
  top:1915px;
  width:30px;
  height:30px;
}
#u373_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:26px;
  word-wrap:break-word;
}
#u374_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:27px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:20px;
}
#u374 {
  border-width:0px;
  position:absolute;
  left:1907px;
  top:1916px;
  width:81px;
  height:27px;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:20px;
}
#u374_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  white-space:nowrap;
}
#u375_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:237px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 223, 37, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  text-align:left;
}
#u375 {
  border-width:0px;
  position:absolute;
  left:1883px;
  top:1968px;
  width:237px;
  height:40px;
  text-align:left;
}
#u375_text {
  border-width:0px;
  position:absolute;
  left:10px;
  top:10px;
  width:217px;
  word-wrap:break-word;
}
#u376_img {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:-4px;
  width:40px;
  height:40px;
}
#u376 {
  border-width:0px;
  position:absolute;
  left:1335px;
  top:1915px;
  width:30px;
  height:30px;
}
#u376_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:26px;
  word-wrap:break-word;
}
#u377 {
  border-width:0px;
  position:absolute;
  left:1399px;
  top:1419px;
  width:0px;
  height:0px;
}
#u377_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-4px;
  width:442px;
  height:8px;
}
#u377_seg1 {
  border-width:0px;
  position:absolute;
  left:425px;
  top:-10px;
  width:20px;
  height:20px;
}
#u377_text {
  border-width:0px;
  position:absolute;
  left:169px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u378 {
  border-width:0px;
  position:absolute;
  left:1399px;
  top:1163px;
  width:0px;
  height:0px;
}
#u378_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-4px;
  width:442px;
  height:8px;
}
#u378_seg1 {
  border-width:0px;
  position:absolute;
  left:425px;
  top:-10px;
  width:20px;
  height:20px;
}
#u378_text {
  border-width:0px;
  position:absolute;
  left:169px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u379 {
  border-width:0px;
  position:absolute;
  left:1409px;
  top:920px;
  width:0px;
  height:0px;
}
#u379_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-4px;
  width:426px;
  height:8px;
}
#u379_seg1 {
  border-width:0px;
  position:absolute;
  left:409px;
  top:-10px;
  width:20px;
  height:20px;
}
#u379_text {
  border-width:0px;
  position:absolute;
  left:161px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u380 {
  border-width:0px;
  position:absolute;
  left:1365px;
  top:1930px;
  width:0px;
  height:0px;
}
#u380_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-4px;
  width:470px;
  height:8px;
}
#u380_seg1 {
  border-width:0px;
  position:absolute;
  left:453px;
  top:-10px;
  width:20px;
  height:20px;
}
#u380_text {
  border-width:0px;
  position:absolute;
  left:183px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u381_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:280px;
  height:36px;
  background:inherit;
  background-color:rgba(255, 223, 37, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u381 {
  border-width:0px;
  position:absolute;
  left:1865px;
  top:461px;
  width:280px;
  height:36px;
}
#u381_text {
  border-width:0px;
  position:absolute;
  left:10px;
  top:10px;
  width:260px;
  word-wrap:break-word;
}
#u382_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:335px;
  height:78px;
  background:inherit;
  background-color:rgba(239, 90, 161, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  color:#FFFFFF;
}
#u382 {
  border-width:0px;
  position:absolute;
  left:181px;
  top:874px;
  width:335px;
  height:78px;
  color:#FFFFFF;
}
#u382_text {
  border-width:0px;
  position:absolute;
  left:10px;
  top:10px;
  width:315px;
  word-wrap:break-word;
}
#u383_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:308px;
  height:85px;
  background:inherit;
  background-color:rgba(255, 223, 37, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  text-align:left;
}
#u383 {
  border-width:0px;
  position:absolute;
  left:1889px;
  top:1526px;
  width:308px;
  height:85px;
  text-align:left;
}
#u383_text {
  border-width:0px;
  position:absolute;
  left:10px;
  top:10px;
  width:288px;
  word-wrap:break-word;
}
