body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:2245px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u174_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1920px;
  height:5829px;
}
#u174 {
  border-width:0px;
  position:absolute;
  left:20px;
  top:20px;
  width:1920px;
  height:5829px;
}
#u174_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u175_img {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:-4px;
  width:40px;
  height:40px;
}
#u175 {
  border-width:0px;
  position:absolute;
  left:411px;
  top:628px;
  width:30px;
  height:30px;
}
#u175_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:26px;
  word-wrap:break-word;
}
#u176_img {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:-4px;
  width:40px;
  height:40px;
}
#u176 {
  border-width:0px;
  position:absolute;
  left:708px;
  top:703px;
  width:30px;
  height:30px;
}
#u176_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:26px;
  word-wrap:break-word;
}
#u177_img {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:-4px;
  width:40px;
  height:40px;
}
#u177 {
  border-width:0px;
  position:absolute;
  left:714px;
  top:821px;
  width:30px;
  height:30px;
}
#u177_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:26px;
  word-wrap:break-word;
}
#u178_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:63px;
  height:36px;
  background:inherit;
  background-color:rgba(239, 90, 161, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#FFFFFF;
}
#u178 {
  border-width:0px;
  position:absolute;
  left:246px;
  top:634px;
  width:63px;
  height:36px;
  font-size:14px;
  color:#FFFFFF;
}
#u178_text {
  border-width:0px;
  position:absolute;
  left:10px;
  top:8px;
  width:43px;
  word-wrap:break-word;
}
#u179_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:27px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:20px;
}
#u179 {
  border-width:0px;
  position:absolute;
  left:246px;
  top:597px;
  width:61px;
  height:27px;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:20px;
}
#u179_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  white-space:nowrap;
}
#u180_img {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:-4px;
  width:40px;
  height:40px;
}
#u180 {
  border-width:0px;
  position:absolute;
  left:1774px;
  top:605px;
  width:30px;
  height:30px;
}
#u180_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:26px;
  word-wrap:break-word;
}
#u181_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:36px;
  background:inherit;
  background-color:rgba(239, 90, 161, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  color:#FFFFFF;
}
#u181 {
  border-width:0px;
  position:absolute;
  left:1833px;
  top:656px;
  width:60px;
  height:36px;
  color:#FFFFFF;
}
#u181_text {
  border-width:0px;
  position:absolute;
  left:10px;
  top:10px;
  width:40px;
  word-wrap:break-word;
}
#u182_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:41px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
}
#u182 {
  border-width:0px;
  position:absolute;
  left:1833px;
  top:600px;
  width:97px;
  height:41px;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
}
#u182_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  white-space:nowrap;
}
#u183_img {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:-4px;
  width:40px;
  height:40px;
}
#u183 {
  border-width:0px;
  position:absolute;
  left:1774px;
  top:838px;
  width:30px;
  height:30px;
}
#u183_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:26px;
  word-wrap:break-word;
}
#u184_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  height:36px;
  background:inherit;
  background-color:rgba(239, 90, 161, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  color:#FFFFFF;
}
#u184 {
  border-width:0px;
  position:absolute;
  left:1833px;
  top:889px;
  width:129px;
  height:36px;
  color:#FFFFFF;
}
#u184_text {
  border-width:0px;
  position:absolute;
  left:10px;
  top:10px;
  width:109px;
  word-wrap:break-word;
}
#u185_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  height:41px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
}
#u185 {
  border-width:0px;
  position:absolute;
  left:1833px;
  top:833px;
  width:129px;
  height:41px;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
}
#u185_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  white-space:nowrap;
}
#u186_img {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:-4px;
  width:40px;
  height:40px;
}
#u186 {
  border-width:0px;
  position:absolute;
  left:1740px;
  top:2552px;
  width:30px;
  height:30px;
}
#u186_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:26px;
  word-wrap:break-word;
}
#u187_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:313px;
  height:36px;
  background:inherit;
  background-color:rgba(255, 223, 37, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  color:#000000;
}
#u187 {
  border-width:0px;
  position:absolute;
  left:1799px;
  top:2603px;
  width:313px;
  height:36px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  color:#000000;
}
#u187_text {
  border-width:0px;
  position:absolute;
  left:10px;
  top:10px;
  width:293px;
  word-wrap:break-word;
}
#u188_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:41px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
}
#u188 {
  border-width:0px;
  position:absolute;
  left:1805px;
  top:2547px;
  width:65px;
  height:41px;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
}
#u188_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u189_img {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:-4px;
  width:40px;
  height:40px;
}
#u189 {
  border-width:0px;
  position:absolute;
  left:288px;
  top:3554px;
  width:30px;
  height:30px;
}
#u189_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:26px;
  word-wrap:break-word;
}
#u190_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:36px;
  background:inherit;
  background-color:rgba(239, 90, 161, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  color:#FFFFFF;
}
#u190 {
  border-width:0px;
  position:absolute;
  left:206px;
  top:3594px;
  width:101px;
  height:36px;
  color:#FFFFFF;
}
#u190_text {
  border-width:0px;
  position:absolute;
  left:10px;
  top:10px;
  width:81px;
  word-wrap:break-word;
}
#u191_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  height:27px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:20px;
}
#u191 {
  border-width:0px;
  position:absolute;
  left:157px;
  top:3555px;
  width:121px;
  height:27px;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:20px;
}
#u191_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  white-space:nowrap;
}
#u192_img {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:-4px;
  width:40px;
  height:40px;
}
#u192 {
  border-width:0px;
  position:absolute;
  left:282px;
  top:3664px;
  width:30px;
  height:30px;
}
#u192_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:26px;
  word-wrap:break-word;
}
#u193_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:78px;
  height:36px;
  background:inherit;
  background-color:rgba(239, 90, 161, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  color:#FFFFFF;
}
#u193 {
  border-width:0px;
  position:absolute;
  left:234px;
  top:3713px;
  width:78px;
  height:36px;
  color:#FFFFFF;
}
#u193_text {
  border-width:0px;
  position:absolute;
  left:10px;
  top:10px;
  width:58px;
  word-wrap:break-word;
}
#u194_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:27px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:20px;
}
#u194 {
  border-width:0px;
  position:absolute;
  left:191px;
  top:3665px;
  width:81px;
  height:27px;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:20px;
}
#u194_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  white-space:nowrap;
}
#u195_img {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:-4px;
  width:40px;
  height:40px;
}
#u195 {
  border-width:0px;
  position:absolute;
  left:1730px;
  top:3621px;
  width:30px;
  height:30px;
}
#u195_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:26px;
  word-wrap:break-word;
}
#u196_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:201px;
  height:76px;
  background:inherit;
  background-color:rgba(255, 223, 37, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
}
#u196 {
  border-width:0px;
  position:absolute;
  left:1774px;
  top:3696px;
  width:201px;
  height:76px;
}
#u196_text {
  border-width:0px;
  position:absolute;
  left:10px;
  top:10px;
  width:181px;
  word-wrap:break-word;
}
#u197_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  height:27px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:20px;
}
#u197 {
  border-width:0px;
  position:absolute;
  left:1774px;
  top:3621px;
  width:41px;
  height:27px;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:20px;
}
#u197_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  white-space:nowrap;
}
#u198_img {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:-4px;
  width:40px;
  height:40px;
}
#u198 {
  border-width:0px;
  position:absolute;
  left:1730px;
  top:3775px;
  width:30px;
  height:30px;
}
#u198_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:26px;
  word-wrap:break-word;
}
#u199_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:27px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:20px;
}
#u199 {
  border-width:0px;
  position:absolute;
  left:1784px;
  top:3782px;
  width:110px;
  height:27px;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:20px;
}
#u199_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  white-space:nowrap;
}
#u200_img {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:-4px;
  width:40px;
  height:40px;
}
#u200 {
  border-width:0px;
  position:absolute;
  left:1743px;
  top:4055px;
  width:30px;
  height:30px;
}
#u200_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:26px;
  word-wrap:break-word;
}
#u201_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:27px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:20px;
}
#u201 {
  border-width:0px;
  position:absolute;
  left:1804px;
  top:4062px;
  width:61px;
  height:27px;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:20px;
}
#u201_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  white-space:nowrap;
}
#u202_img {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:-4px;
  width:40px;
  height:40px;
}
#u202 {
  border-width:0px;
  position:absolute;
  left:1743px;
  top:4230px;
  width:30px;
  height:30px;
}
#u202_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:26px;
  word-wrap:break-word;
}
#u203_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:27px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:20px;
}
#u203 {
  border-width:0px;
  position:absolute;
  left:1798px;
  top:4237px;
  width:73px;
  height:27px;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:20px;
}
#u203_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u204_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:313px;
  height:53px;
  background:inherit;
  background-color:rgba(255, 223, 37, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  color:#000000;
}
#u204 {
  border-width:0px;
  position:absolute;
  left:895px;
  top:885px;
  width:313px;
  height:53px;
  color:#000000;
}
#u204_text {
  border-width:0px;
  position:absolute;
  left:10px;
  top:10px;
  width:293px;
  word-wrap:break-word;
}
#u205_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:38px;
  background:inherit;
  background-color:rgba(255, 223, 37, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  color:#000000;
}
#u205 {
  border-width:0px;
  position:absolute;
  left:510px;
  top:2781px;
  width:110px;
  height:38px;
  color:#000000;
}
#u205_text {
  border-width:0px;
  position:absolute;
  left:10px;
  top:10px;
  width:90px;
  word-wrap:break-word;
}
#u206_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:285px;
  height:53px;
  background:inherit;
  background-color:rgba(255, 223, 37, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u206 {
  border-width:0px;
  position:absolute;
  left:24px;
  top:680px;
  width:285px;
  height:53px;
}
#u206_text {
  border-width:0px;
  position:absolute;
  left:10px;
  top:10px;
  width:265px;
  word-wrap:break-word;
}
#u207_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:412px;
  height:36px;
  background:inherit;
  background-color:rgba(255, 223, 37, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u207 {
  border-width:0px;
  position:absolute;
  left:1833px;
  top:709px;
  width:412px;
  height:36px;
}
#u207_text {
  border-width:0px;
  position:absolute;
  left:10px;
  top:10px;
  width:392px;
  word-wrap:break-word;
}
#u208_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:412px;
  height:36px;
  background:inherit;
  background-color:rgba(255, 223, 37, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u208 {
  border-width:0px;
  position:absolute;
  left:1833px;
  top:946px;
  width:412px;
  height:36px;
}
#u208_text {
  border-width:0px;
  position:absolute;
  left:10px;
  top:10px;
  width:392px;
  word-wrap:break-word;
}
#u209_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  height:38px;
  background:inherit;
  background-color:rgba(255, 223, 37, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  color:#000000;
}
#u209 {
  border-width:0px;
  position:absolute;
  left:1003px;
  top:2809px;
  width:109px;
  height:38px;
  color:#000000;
}
#u209_text {
  border-width:0px;
  position:absolute;
  left:10px;
  top:10px;
  width:89px;
  word-wrap:break-word;
}
#u210_img {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:-4px;
  width:40px;
  height:40px;
}
#u210 {
  border-width:0px;
  position:absolute;
  left:206px;
  top:597px;
  width:30px;
  height:30px;
}
#u210_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:26px;
  word-wrap:break-word;
}
#u211_img {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:-4px;
  width:40px;
  height:40px;
}
#u211 {
  border-width:0px;
  position:absolute;
  left:450px;
  top:1052px;
  width:30px;
  height:30px;
}
#u211_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:26px;
  word-wrap:break-word;
}
#u212_img {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:-4px;
  width:40px;
  height:40px;
}
#u212 {
  border-width:0px;
  position:absolute;
  left:206px;
  top:922px;
  width:30px;
  height:30px;
}
#u212_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:26px;
  word-wrap:break-word;
}
#u213_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:27px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:20px;
}
#u213 {
  border-width:0px;
  position:absolute;
  left:241px;
  top:925px;
  width:71px;
  height:27px;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:20px;
}
#u213_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  white-space:nowrap;
}
#u214_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:285px;
  height:529px;
  background:inherit;
  background-color:rgba(255, 223, 37, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u214 {
  border-width:0px;
  position:absolute;
  left:24px;
  top:969px;
  width:285px;
  height:529px;
}
#u214_text {
  border-width:0px;
  position:absolute;
  left:10px;
  top:10px;
  width:265px;
  word-wrap:break-word;
}
#u215_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:313px;
  height:53px;
  background:inherit;
  background-color:rgba(255, 223, 37, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  color:#000000;
}
#u215 {
  border-width:0px;
  position:absolute;
  left:934px;
  top:1445px;
  width:313px;
  height:53px;
  color:#000000;
}
#u215_text {
  border-width:0px;
  position:absolute;
  left:10px;
  top:10px;
  width:293px;
  word-wrap:break-word;
}
#u216_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:313px;
  height:53px;
  background:inherit;
  background-color:rgba(255, 223, 37, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  color:#000000;
}
#u216 {
  border-width:0px;
  position:absolute;
  left:895px;
  top:1727px;
  width:313px;
  height:53px;
  color:#000000;
}
#u216_text {
  border-width:0px;
  position:absolute;
  left:10px;
  top:10px;
  width:293px;
  word-wrap:break-word;
}
#u217_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:131px;
  height:38px;
  background:inherit;
  background-color:rgba(255, 223, 37, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  color:#000000;
}
#u217 {
  border-width:0px;
  position:absolute;
  left:1362px;
  top:2625px;
  width:131px;
  height:38px;
  color:#000000;
}
#u217_text {
  border-width:0px;
  position:absolute;
  left:10px;
  top:10px;
  width:111px;
  word-wrap:break-word;
}
#u218_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:124px;
  height:38px;
  background:inherit;
  background-color:rgba(255, 223, 37, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  color:#000000;
}
#u218 {
  border-width:0px;
  position:absolute;
  left:597px;
  top:3242px;
  width:124px;
  height:38px;
  color:#000000;
}
#u218_text {
  border-width:0px;
  position:absolute;
  left:10px;
  top:10px;
  width:104px;
  word-wrap:break-word;
}
#u219_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:313px;
  height:53px;
  background:inherit;
  background-color:rgba(255, 223, 37, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  color:#000000;
}
#u219 {
  border-width:0px;
  position:absolute;
  left:895px;
  top:2098px;
  width:313px;
  height:53px;
  color:#000000;
}
#u219_text {
  border-width:0px;
  position:absolute;
  left:10px;
  top:10px;
  width:293px;
  word-wrap:break-word;
}
#u220_img {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:-4px;
  width:40px;
  height:40px;
}
#u220 {
  border-width:0px;
  position:absolute;
  left:919px;
  top:2574px;
  width:30px;
  height:30px;
}
#u220_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:26px;
  word-wrap:break-word;
}
#u221_img {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:-4px;
  width:40px;
  height:40px;
}
#u221 {
  border-width:0px;
  position:absolute;
  left:625px;
  top:3552px;
  width:30px;
  height:30px;
}
#u221_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:26px;
  word-wrap:break-word;
}
#u222_img {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:-4px;
  width:40px;
  height:40px;
}
#u222 {
  border-width:0px;
  position:absolute;
  left:487px;
  top:3727px;
  width:30px;
  height:30px;
}
#u222_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:26px;
  word-wrap:break-word;
}
#u223_img {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:-4px;
  width:40px;
  height:40px;
}
#u223 {
  border-width:0px;
  position:absolute;
  left:953px;
  top:3565px;
  width:30px;
  height:30px;
}
#u223_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:26px;
  word-wrap:break-word;
}
#u224_img {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:-4px;
  width:40px;
  height:40px;
}
#u224 {
  border-width:0px;
  position:absolute;
  left:1031px;
  top:3744px;
  width:30px;
  height:30px;
}
#u224_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:26px;
  word-wrap:break-word;
}
#u225_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:107px;
  height:36px;
  background:inherit;
  background-color:rgba(239, 90, 161, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  color:#FFFFFF;
}
#u225 {
  border-width:0px;
  position:absolute;
  left:1774px;
  top:3650px;
  width:107px;
  height:36px;
  color:#FFFFFF;
}
#u225_text {
  border-width:0px;
  position:absolute;
  left:10px;
  top:10px;
  width:87px;
  word-wrap:break-word;
}
#u226_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:107px;
  height:36px;
  background:inherit;
  background-color:rgba(239, 90, 161, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  color:#FFFFFF;
}
#u226 {
  border-width:0px;
  position:absolute;
  left:1774px;
  top:3819px;
  width:107px;
  height:36px;
  color:#FFFFFF;
}
#u226_text {
  border-width:0px;
  position:absolute;
  left:10px;
  top:10px;
  width:87px;
  word-wrap:break-word;
}
#u227_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:201px;
  height:76px;
  background:inherit;
  background-color:rgba(255, 223, 37, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
}
#u227 {
  border-width:0px;
  position:absolute;
  left:1774px;
  top:3865px;
  width:201px;
  height:76px;
}
#u227_text {
  border-width:0px;
  position:absolute;
  left:10px;
  top:10px;
  width:181px;
  word-wrap:break-word;
}
#u228_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:27px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:20px;
}
#u228 {
  border-width:0px;
  position:absolute;
  left:177px;
  top:4003px;
  width:81px;
  height:27px;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:20px;
}
#u228_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  white-space:nowrap;
}
#u229_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:36px;
  background:inherit;
  background-color:rgba(0, 128, 0, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  color:#FFFFFF;
}
#u229 {
  border-width:0px;
  position:absolute;
  left:206px;
  top:4055px;
  width:101px;
  height:36px;
  color:#FFFFFF;
}
#u229_text {
  border-width:0px;
  position:absolute;
  left:10px;
  top:10px;
  width:81px;
  word-wrap:break-word;
}
#u230_img {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:-4px;
  width:40px;
  height:40px;
}
#u230 {
  border-width:0px;
  position:absolute;
  left:928px;
  top:4046px;
  width:30px;
  height:30px;
}
#u230_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:26px;
  word-wrap:break-word;
}
#u231_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:107px;
  height:36px;
  background:inherit;
  background-color:rgba(239, 90, 161, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  color:#FFFFFF;
}
#u231 {
  border-width:0px;
  position:absolute;
  left:1804px;
  top:4099px;
  width:107px;
  height:36px;
  color:#FFFFFF;
}
#u231_text {
  border-width:0px;
  position:absolute;
  left:10px;
  top:10px;
  width:87px;
  word-wrap:break-word;
}
#u232_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:201px;
  height:76px;
  background:inherit;
  background-color:rgba(255, 223, 37, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
}
#u232 {
  border-width:0px;
  position:absolute;
  left:1804px;
  top:4145px;
  width:201px;
  height:76px;
}
#u232_text {
  border-width:0px;
  position:absolute;
  left:10px;
  top:10px;
  width:181px;
  word-wrap:break-word;
}
#u233_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:201px;
  height:76px;
  background:inherit;
  background-color:rgba(255, 223, 37, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
}
#u233 {
  border-width:0px;
  position:absolute;
  left:1804px;
  top:4284px;
  width:201px;
  height:76px;
}
#u233_text {
  border-width:0px;
  position:absolute;
  left:10px;
  top:10px;
  width:181px;
  word-wrap:break-word;
}
#u234_img {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:-4px;
  width:40px;
  height:40px;
}
#u234 {
  border-width:0px;
  position:absolute;
  left:1082px;
  top:4265px;
  width:30px;
  height:30px;
}
#u234_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:26px;
  word-wrap:break-word;
}
#u235_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:313px;
  height:53px;
  background:inherit;
  background-color:rgba(255, 223, 37, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  color:#000000;
}
#u235 {
  border-width:0px;
  position:absolute;
  left:484px;
  top:4489px;
  width:313px;
  height:53px;
  color:#000000;
}
#u235_text {
  border-width:0px;
  position:absolute;
  left:10px;
  top:10px;
  width:293px;
  word-wrap:break-word;
}
#u236_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:313px;
  height:53px;
  background:inherit;
  background-color:rgba(255, 223, 37, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  color:#000000;
}
#u236 {
  border-width:0px;
  position:absolute;
  left:872px;
  top:4502px;
  width:313px;
  height:53px;
  color:#000000;
}
#u236_text {
  border-width:0px;
  position:absolute;
  left:10px;
  top:10px;
  width:293px;
  word-wrap:break-word;
}
#u237_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:27px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:20px;
}
#u237 {
  border-width:0px;
  position:absolute;
  left:179px;
  top:4724px;
  width:81px;
  height:27px;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:20px;
}
#u237_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  white-space:nowrap;
}
#u238_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:36px;
  background:inherit;
  background-color:rgba(0, 128, 0, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  color:#FFFFFF;
}
#u238 {
  border-width:0px;
  position:absolute;
  left:206px;
  top:4776px;
  width:101px;
  height:36px;
  color:#FFFFFF;
}
#u238_text {
  border-width:0px;
  position:absolute;
  left:10px;
  top:10px;
  width:81px;
  word-wrap:break-word;
}
