body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:2584px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u217_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1920px;
  height:5454px;
}
#u217 {
  border-width:0px;
  position:absolute;
  left:8px;
  top:0px;
  width:1920px;
  height:5454px;
}
#u217_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u218_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:430px;
  height:547px;
  background:inherit;
  background-color:rgba(255, 223, 37, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:0px 5px 5px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow:0px 5px 5px rgba(0, 0, 0, 0.2);
  box-shadow:0px 5px 5px rgba(0, 0, 0, 0.2);
}
#u218 {
  border-width:0px;
  position:absolute;
  left:2037px;
  top:10px;
  width:430px;
  height:547px;
}
#u218_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u219_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:369px;
  height:57px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u219 {
  border-width:0px;
  position:absolute;
  left:2061px;
  top:31px;
  width:369px;
  height:57px;
}
#u219_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:369px;
  word-wrap:break-word;
}
#u220_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:133px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u220 {
  border-width:0px;
  position:absolute;
  left:2061px;
  top:98px;
  width:300px;
  height:133px;
}
#u220_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  word-wrap:break-word;
}
#u221_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:169px;
}
#u221 {
  border-width:0px;
  position:absolute;
  left:2499px;
  top:24px;
  width:90px;
  height:169px;
}
#u221_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u222_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:57px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u222 {
  border-width:0px;
  position:absolute;
  left:2061px;
  top:248px;
  width:300px;
  height:57px;
}
#u222_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  word-wrap:break-word;
}
#u223_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:38px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u223 {
  border-width:0px;
  position:absolute;
  left:2061px;
  top:339px;
  width:300px;
  height:38px;
}
#u223_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  word-wrap:break-word;
}
#u224_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:133px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u224 {
  border-width:0px;
  position:absolute;
  left:2061px;
  top:398px;
  width:300px;
  height:133px;
}
#u224_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  word-wrap:break-word;
}
#u225_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:430px;
  height:286px;
  background:inherit;
  background-color:rgba(255, 223, 37, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:0px 5px 5px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow:0px 5px 5px rgba(0, 0, 0, 0.2);
  box-shadow:0px 5px 5px rgba(0, 0, 0, 0.2);
}
#u225 {
  border-width:0px;
  position:absolute;
  left:2037px;
  top:595px;
  width:430px;
  height:286px;
}
#u225_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u226_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:142px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u226 {
  border-width:0px;
  position:absolute;
  left:2054px;
  top:627px;
  width:300px;
  height:142px;
}
#u226_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  word-wrap:break-word;
}
#u227_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:430px;
  height:89px;
  background:inherit;
  background-color:rgba(255, 223, 37, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:0px 5px 5px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow:0px 5px 5px rgba(0, 0, 0, 0.2);
  box-shadow:0px 5px 5px rgba(0, 0, 0, 0.2);
}
#u227 {
  border-width:0px;
  position:absolute;
  left:2037px;
  top:917px;
  width:430px;
  height:89px;
}
#u227_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u228_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:71px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u228 {
  border-width:0px;
  position:absolute;
  left:2047px;
  top:929px;
  width:300px;
  height:71px;
}
#u228_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  word-wrap:break-word;
}
#u229_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:305px;
  height:90px;
  background:inherit;
  background-color:rgba(255, 153, 204, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:0px 5px 5px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow:0px 5px 5px rgba(0, 0, 0, 0.2);
  box-shadow:0px 5px 5px rgba(0, 0, 0, 0.2);
}
#u229 {
  border-width:0px;
  position:absolute;
  left:798px;
  top:457px;
  width:305px;
  height:90px;
}
#u229_text {
  border-width:0px;
  position:absolute;
  left:10px;
  top:10px;
  width:285px;
  word-wrap:break-word;
}
#u230_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:231px;
  height:52px;
  background:inherit;
  background-color:rgba(255, 153, 204, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:0px 5px 5px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow:0px 5px 5px rgba(0, 0, 0, 0.2);
  box-shadow:0px 5px 5px rgba(0, 0, 0, 0.2);
}
#u230 {
  border-width:0px;
  position:absolute;
  left:1294px;
  top:595px;
  width:231px;
  height:52px;
}
#u230_text {
  border-width:0px;
  position:absolute;
  left:10px;
  top:10px;
  width:211px;
  word-wrap:break-word;
}
#u231_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:231px;
  height:129px;
  background:inherit;
  background-color:rgba(255, 223, 37, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:0px 5px 5px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow:0px 5px 5px rgba(0, 0, 0, 0.2);
  box-shadow:0px 5px 5px rgba(0, 0, 0, 0.2);
}
#u231 {
  border-width:0px;
  position:absolute;
  left:94px;
  top:607px;
  width:231px;
  height:129px;
}
#u231_text {
  border-width:0px;
  position:absolute;
  left:10px;
  top:10px;
  width:211px;
  word-wrap:break-word;
}
#u232_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:231px;
  height:76px;
  background:inherit;
  background-color:rgba(255, 223, 37, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:0px 5px 5px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow:0px 5px 5px rgba(0, 0, 0, 0.2);
  box-shadow:0px 5px 5px rgba(0, 0, 0, 0.2);
}
#u232 {
  border-width:0px;
  position:absolute;
  left:106px;
  top:823px;
  width:231px;
  height:76px;
}
#u232_text {
  border-width:0px;
  position:absolute;
  left:10px;
  top:10px;
  width:211px;
  word-wrap:break-word;
}
#u233_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:231px;
  height:133px;
  background:inherit;
  background-color:rgba(255, 223, 37, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:0px 5px 5px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow:0px 5px 5px rgba(0, 0, 0, 0.2);
  box-shadow:0px 5px 5px rgba(0, 0, 0, 0.2);
}
#u233 {
  border-width:0px;
  position:absolute;
  left:94px;
  top:962px;
  width:231px;
  height:133px;
}
#u233_text {
  border-width:0px;
  position:absolute;
  left:10px;
  top:10px;
  width:211px;
  word-wrap:break-word;
}
#u234_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:231px;
  height:94px;
  background:inherit;
  background-color:rgba(255, 153, 204, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:0px 5px 5px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow:0px 5px 5px rgba(0, 0, 0, 0.2);
  box-shadow:0px 5px 5px rgba(0, 0, 0, 0.2);
}
#u234 {
  border-width:0px;
  position:absolute;
  left:94px;
  top:1126px;
  width:231px;
  height:94px;
}
#u234_text {
  border-width:0px;
  position:absolute;
  left:10px;
  top:10px;
  width:211px;
  word-wrap:break-word;
}
#u235_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:393px;
  height:76px;
  background:inherit;
  background-color:rgba(255, 223, 37, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:0px 5px 5px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow:0px 5px 5px rgba(0, 0, 0, 0.2);
  box-shadow:0px 5px 5px rgba(0, 0, 0, 0.2);
}
#u235 {
  border-width:0px;
  position:absolute;
  left:838px;
  top:779px;
  width:393px;
  height:76px;
}
#u235_text {
  border-width:0px;
  position:absolute;
  left:10px;
  top:10px;
  width:373px;
  word-wrap:break-word;
}
#u236_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:218px;
  height:54px;
  background:inherit;
  background-color:rgba(255, 223, 37, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:0px 5px 5px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow:0px 5px 5px rgba(0, 0, 0, 0.2);
  box-shadow:0px 5px 5px rgba(0, 0, 0, 0.2);
}
#u236 {
  border-width:0px;
  position:absolute;
  left:998px;
  top:1160px;
  width:218px;
  height:54px;
}
#u236_text {
  border-width:0px;
  position:absolute;
  left:10px;
  top:10px;
  width:198px;
  word-wrap:break-word;
}
#u237_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:218px;
  height:54px;
  background:inherit;
  background-color:rgba(255, 223, 37, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:0px 5px 5px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow:0px 5px 5px rgba(0, 0, 0, 0.2);
  box-shadow:0px 5px 5px rgba(0, 0, 0, 0.2);
}
#u237 {
  border-width:0px;
  position:absolute;
  left:998px;
  top:1288px;
  width:218px;
  height:54px;
}
#u237_text {
  border-width:0px;
  position:absolute;
  left:10px;
  top:10px;
  width:198px;
  word-wrap:break-word;
}
#u238_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:218px;
  height:54px;
  background:inherit;
  background-color:rgba(255, 223, 37, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:0px 5px 5px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow:0px 5px 5px rgba(0, 0, 0, 0.2);
  box-shadow:0px 5px 5px rgba(0, 0, 0, 0.2);
}
#u238 {
  border-width:0px;
  position:absolute;
  left:998px;
  top:1464px;
  width:218px;
  height:54px;
}
#u238_text {
  border-width:0px;
  position:absolute;
  left:10px;
  top:10px;
  width:198px;
  word-wrap:break-word;
}
#u239_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:218px;
  height:54px;
  background:inherit;
  background-color:rgba(255, 223, 37, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:0px 5px 5px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow:0px 5px 5px rgba(0, 0, 0, 0.2);
  box-shadow:0px 5px 5px rgba(0, 0, 0, 0.2);
}
#u239 {
  border-width:0px;
  position:absolute;
  left:998px;
  top:1655px;
  width:218px;
  height:54px;
}
#u239_text {
  border-width:0px;
  position:absolute;
  left:10px;
  top:10px;
  width:198px;
  word-wrap:break-word;
}
#u240_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:337px;
  height:88px;
  background:inherit;
  background-color:rgba(255, 223, 37, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:0px 5px 5px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow:0px 5px 5px rgba(0, 0, 0, 0.2);
  box-shadow:0px 5px 5px rgba(0, 0, 0, 0.2);
}
#u240 {
  border-width:0px;
  position:absolute;
  left:2037px;
  top:1056px;
  width:337px;
  height:88px;
}
#u240_text {
  border-width:0px;
  position:absolute;
  left:10px;
  top:10px;
  width:317px;
  word-wrap:break-word;
}
#u241_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:337px;
  height:115px;
  background:inherit;
  background-color:rgba(255, 223, 37, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:0px 5px 5px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow:0px 5px 5px rgba(0, 0, 0, 0.2);
  box-shadow:0px 5px 5px rgba(0, 0, 0, 0.2);
}
#u241 {
  border-width:0px;
  position:absolute;
  left:2037px;
  top:1172px;
  width:337px;
  height:115px;
}
#u241_text {
  border-width:0px;
  position:absolute;
  left:10px;
  top:10px;
  width:317px;
  word-wrap:break-word;
}
#u242_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:181px;
  height:138px;
}
#u242 {
  border-width:0px;
  position:absolute;
  left:2408px;
  top:1172px;
  width:181px;
  height:138px;
}
#u242_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u243_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:518px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 223, 37, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:0px 5px 5px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow:0px 5px 5px rgba(0, 0, 0, 0.2);
  box-shadow:0px 5px 5px rgba(0, 0, 0, 0.2);
}
#u243 {
  border-width:0px;
  position:absolute;
  left:637px;
  top:2238px;
  width:518px;
  height:40px;
}
#u243_text {
  border-width:0px;
  position:absolute;
  left:10px;
  top:10px;
  width:498px;
  word-wrap:break-word;
}
#u244_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:368px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 223, 37, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:0px 5px 5px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow:0px 5px 5px rgba(0, 0, 0, 0.2);
  box-shadow:0px 5px 5px rgba(0, 0, 0, 0.2);
}
#u244 {
  border-width:0px;
  position:absolute;
  left:-5px;
  top:2290px;
  width:368px;
  height:40px;
}
#u244_text {
  border-width:0px;
  position:absolute;
  left:10px;
  top:10px;
  width:348px;
  word-wrap:break-word;
}
#u245_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:87px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 223, 37, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:0px 5px 5px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow:0px 5px 5px rgba(0, 0, 0, 0.2);
  box-shadow:0px 5px 5px rgba(0, 0, 0, 0.2);
}
#u245 {
  border-width:0px;
  position:absolute;
  left:398px;
  top:2631px;
  width:87px;
  height:40px;
}
#u245_text {
  border-width:0px;
  position:absolute;
  left:10px;
  top:10px;
  width:67px;
  word-wrap:break-word;
}
#u246_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:87px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 223, 37, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:0px 5px 5px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow:0px 5px 5px rgba(0, 0, 0, 0.2);
  box-shadow:0px 5px 5px rgba(0, 0, 0, 0.2);
}
#u246 {
  border-width:0px;
  position:absolute;
  left:1049px;
  top:2455px;
  width:87px;
  height:40px;
}
#u246_text {
  border-width:0px;
  position:absolute;
  left:10px;
  top:10px;
  width:67px;
  word-wrap:break-word;
}
#u247_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:368px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 223, 37, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:0px 5px 5px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow:0px 5px 5px rgba(0, 0, 0, 0.2);
  box-shadow:0px 5px 5px rgba(0, 0, 0, 0.2);
}
#u247 {
  border-width:0px;
  position:absolute;
  left:1261px;
  top:2290px;
  width:368px;
  height:40px;
}
#u247_text {
  border-width:0px;
  position:absolute;
  left:10px;
  top:10px;
  width:348px;
  word-wrap:break-word;
}
#u248_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:198px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 223, 37, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:0px 5px 5px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow:0px 5px 5px rgba(0, 0, 0, 0.2);
  box-shadow:0px 5px 5px rgba(0, 0, 0, 0.2);
}
#u248 {
  border-width:0px;
  position:absolute;
  left:994px;
  top:2587px;
  width:198px;
  height:40px;
}
#u248_text {
  border-width:0px;
  position:absolute;
  left:10px;
  top:10px;
  width:178px;
  word-wrap:break-word;
}
#u249_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:436px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 223, 37, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:0px 5px 5px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow:0px 5px 5px rgba(0, 0, 0, 0.2);
  box-shadow:0px 5px 5px rgba(0, 0, 0, 0.2);
}
#u249 {
  border-width:0px;
  position:absolute;
  left:591px;
  top:2680px;
  width:436px;
  height:40px;
}
#u249_text {
  border-width:0px;
  position:absolute;
  left:10px;
  top:10px;
  width:416px;
  word-wrap:break-word;
}
#u250_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:311px;
  height:105px;
  background:inherit;
  background-color:rgba(255, 223, 37, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:0px 5px 5px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow:0px 5px 5px rgba(0, 0, 0, 0.2);
  box-shadow:0px 5px 5px rgba(0, 0, 0, 0.2);
}
#u250 {
  border-width:0px;
  position:absolute;
  left:579px;
  top:2831px;
  width:311px;
  height:105px;
}
#u250_text {
  border-width:0px;
  position:absolute;
  left:10px;
  top:10px;
  width:291px;
  word-wrap:break-word;
}
#u251_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:233px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 223, 37, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:0px 5px 5px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow:0px 5px 5px rgba(0, 0, 0, 0.2);
  box-shadow:0px 5px 5px rgba(0, 0, 0, 0.2);
}
#u251 {
  border-width:0px;
  position:absolute;
  left:522px;
  top:3105px;
  width:233px;
  height:40px;
}
#u251_text {
  border-width:0px;
  position:absolute;
  left:10px;
  top:10px;
  width:213px;
  word-wrap:break-word;
}
#u252_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:233px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 223, 37, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:0px 5px 5px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow:0px 5px 5px rgba(0, 0, 0, 0.2);
  box-shadow:0px 5px 5px rgba(0, 0, 0, 0.2);
}
#u252 {
  border-width:0px;
  position:absolute;
  left:976px;
  top:3105px;
  width:233px;
  height:40px;
}
#u252_text {
  border-width:0px;
  position:absolute;
  left:10px;
  top:10px;
  width:213px;
  word-wrap:break-word;
}
#u253_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:216px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 223, 37, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:0px 5px 5px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow:0px 5px 5px rgba(0, 0, 0, 0.2);
  box-shadow:0px 5px 5px rgba(0, 0, 0, 0.2);
}
#u253 {
  border-width:0px;
  position:absolute;
  left:983px;
  top:3335px;
  width:216px;
  height:40px;
}
#u253_text {
  border-width:0px;
  position:absolute;
  left:10px;
  top:10px;
  width:196px;
  word-wrap:break-word;
}
#u254_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:87px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 223, 37, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:0px 5px 5px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow:0px 5px 5px rgba(0, 0, 0, 0.2);
  box-shadow:0px 5px 5px rgba(0, 0, 0, 0.2);
}
#u254 {
  border-width:0px;
  position:absolute;
  left:425px;
  top:3495px;
  width:87px;
  height:40px;
}
#u254_text {
  border-width:0px;
  position:absolute;
  left:10px;
  top:10px;
  width:67px;
  word-wrap:break-word;
}
#u255_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:216px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 223, 37, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:0px 5px 5px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow:0px 5px 5px rgba(0, 0, 0, 0.2);
  box-shadow:0px 5px 5px rgba(0, 0, 0, 0.2);
}
#u255 {
  border-width:0px;
  position:absolute;
  left:983px;
  top:3624px;
  width:216px;
  height:40px;
}
#u255_text {
  border-width:0px;
  position:absolute;
  left:10px;
  top:10px;
  width:196px;
  word-wrap:break-word;
}
#u256_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:216px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 223, 37, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:0px 5px 5px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow:0px 5px 5px rgba(0, 0, 0, 0.2);
  box-shadow:0px 5px 5px rgba(0, 0, 0, 0.2);
}
#u256 {
  border-width:0px;
  position:absolute;
  left:994px;
  top:3809px;
  width:216px;
  height:40px;
}
#u256_text {
  border-width:0px;
  position:absolute;
  left:10px;
  top:10px;
  width:196px;
  word-wrap:break-word;
}
#u257_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:87px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 223, 37, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:0px 5px 5px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow:0px 5px 5px rgba(0, 0, 0, 0.2);
  box-shadow:0px 5px 5px rgba(0, 0, 0, 0.2);
}
#u257 {
  border-width:0px;
  position:absolute;
  left:498px;
  top:3991px;
  width:87px;
  height:40px;
}
#u257_text {
  border-width:0px;
  position:absolute;
  left:10px;
  top:10px;
  width:67px;
  word-wrap:break-word;
}
#u258_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:245px;
  height:121px;
  background:inherit;
  background-color:rgba(255, 223, 37, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:0px 5px 5px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow:0px 5px 5px rgba(0, 0, 0, 0.2);
  box-shadow:0px 5px 5px rgba(0, 0, 0, 0.2);
}
#u258 {
  border-width:0px;
  position:absolute;
  left:736px;
  top:5124px;
  width:245px;
  height:121px;
}
#u258_text {
  border-width:0px;
  position:absolute;
  left:10px;
  top:10px;
  width:225px;
  word-wrap:break-word;
}
